
body {
    
    background-color: #f4f4f4;
    color: #000000;
    margin: 0;
    padding: 50px;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #000000;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

footer nav a:hover {
    text-decoration: underline;
}