/* Placeholder styles */
.placeholder {
    background-color: #f0f0f0; 
    border: 2px dashed #D50000; 
    padding: 20px; 
    margin: 20px 0; 
    color: #333; 
    font-size: 1.1em; 
    text-align: center; 
    border-radius: 8px; 
    transition: background-color 0.3s; 
}


.placeholder:hover {
    background-color: #e0e0e0; 
}
