body {
   
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff2323;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #cc0000;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #111;
}

footer {
    background-color: #1f1e1e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
